---
import PlayButton from "./PlayButton.astro";
---
<div class="max-w-[250px] mx-auto">
  <div class="flex justify-center p-2 items-center gap-2 border-2 rounded-3xl bg-button hover:bg-button-hover cursor-pointer">
    <PlayButton/>
    <p class="font-title text-2xl text-white">Sortear amigo</p>
  </div>
</div>
