<div class="flex items-center justify-center">
    <form class="max-w-sm w-full md:max-w-xl">
        <div class="flex">
            <input type="text" id="addName" class="w-full bg-white border-2 border-gray-950 text-gray-950 text-xl rounded-4xl focus:outline-none p-3" 
            placeholder="Escribe un nombre..."/>
            <button type="button" class="px-5 ms-2 text-lg font-medium border-2 font-title border-gray-950 text-gray-950 bg-gray-300 rounded-4xl hover:bg-orange-200 cursor-pointer focus:outline-none">
                Añadir
            </button>
        </div>
    </form>
</div>